--- 
--- 
@import "{{ site.theme }}";

iframe {
    max-width: 100% !important;
}

ul.date-choices {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
}

ul.date-choices li {
    margin-right: 20px;
}

h1, h2, h3 {
    border-bottom: none !important;
}

a.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
}

a.button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}